@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"].</h2>

@if (ViewBag.Browser.Contains("QQBrowser"))
{
    <p>Welcome WeChat browser.</p>
}
else
{
    <p>Welcome inferior browsers.</p>
}

<p>Your browser is: @ViewBag.Browser</p>